<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 id="titulo">HOLA, BIENVENIDO AL MARAVILLOSO MUNDO DE LA TECNOLOGÍA</h1>
    
    <img src="https://firebasestorage.googleapis.com/v0/b/tiendasuradp.appspot.com/o/producto1.jpg?alt=media&token=631a606f-f4d2-4395-99d6-299c9fde73ba" alt="" id="foto">
    

    <script src="../controllers/aprendiendoDOM.js"></script>
</body>
</html>